.homebody{
    font-family: 'Rajdhani';
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    color: rgb(224, 241, 247);
}


.textbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

@media screen and (max-width: 700px){
    .header{
        text-align: center;
        position: relative;
        right: 1vw
    }
}