.homebody{
    font-family: 'Rajdhani';
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(224, 241, 247);
}

.reacticon{
    padding: 2px;
    color: white;
}

.reactstring{
    display: inline;
}

.mernstring{
    display: inline;
}