.slider{
    position: relative;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 100vw;
    height: 70vh;
    border-radius: 10px;
}

@media screen and (max-width: 700px){
    .image{
        height: 40vh;
    }
}

.rightarrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: White;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.leftarrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: White;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: .8s ease;
}

.slideActive{
    opacity: 1;
    transition-duration: .8s;
}

.headertext{
    color: rgb(224, 241, 247);
}

.description{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    color: Black;
    text-align: center;
    padding: 40px;
    margin: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media screen and (min-width: 1000px){
    .description{
        width: 70vw;
    }
    .image{
        width: 75vw;
    }
    .rightarrow{
        position: absolute;
        top: 50%;
        right: 250px;
    }
    .leftarrow{
        position: absolute;
        top: 50%;
        left: 250px;
    }
}

@media screen and (max-height: 600px) {
    .description{
        height: 15px;
        width: 62vw;
    }
    .image{
        height: 50vh;
        width: 70vw;
    }
}